/* Tag selectorss */
html {
  scroll-behavior: smooth;
}

body {
  background-color:white;
  color:black;
}

p {
  color:black;
  font-family:'inter',sans-serif;
  font-weight: 400;
  font-size:16px;
}

h1 {
  color:white;
  font-size:64px;
  line-height: 130%;
  font-weight:700;
  margin-bottom:32px;
}

h2 {
  font-size:56px;
  line-height: 140%;
  font-weight:700;
  color:white;
}

.color-blue{
  color:#2B2E3C;
}

.txt-white{
  color:white; 
}

.obi-wan {
  color:white;
  font-size:40px;
}

.bold{
 font-weight:700; 
}

.bg-black{
  background-color:black;
}

.bg-light-blue{
  background-color:#EDF1F2;
}

.sixteen-rem{
  padding-top:8rem;
}

h3 {
  font-size: 50px;
  line-height: 150%;
  font-weight:700;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'inter','sans-serif';
}

.row{
  padding:0;
  margin:0;
}

.container-fluid{
  padding:0;
}

.view-height-full{
  height:100vh;
}

.view-height-seventy{
  height:75vh; 
}

.position-center {
  display: flex;      
  align-content: center;
  justify-content: center;
}


.position-center-left {
  display:flex !important;
  align-content: center;
  justify-content: left;
}

.position-bottom-left {
  display:flex !important;
  align-content: flex-end;
  justify-content: left;
}

.home-page-position {
  display:flex !important;
  align-content: center;
  justify-content: left;
}

/* paddings & margins */

.horizontal-padding {
  padding-right:5%;
  padding-left:5%;
}

.horizontal-padding-2{
  padding-right:18%;
  padding-left:18%;
}

.padding-bottom{
  padding-bottom:15%;
}

.vertical-padding {
  padding-top: 10%;
  padding-bottom:10%;
}

.vertical-padding-2 {
  padding-top: 6%;
  padding-bottom:6%;
}

.ui-padding {
  padding-top:15%;
}

.padding-l{
  padding-left:1%;
}

.padding-r{
  padding-right:1%;
}

.padding-t{
  padding-top:1%
}


/* end of paddings & margins */


/* BEGIN NAVIGATION */

.custom-navigation{
  color:white;
  transition: transform 250ms;
}

.custom-navigation:hover{
  color:white;
  opacity:0.8;
  transform: translateY(-7px);
}

.navbar {
  padding: 1rem;
  font-family: 'inter', sans-serif;
  font-weight:400;
  position:fixed;
  width:100%;
  z-index: 1;
  background-color:black;
}

.nav-link {
  font-size:16px;
}

.navbar-toggler{
  padding:0;
}

/* END NAVIGATION */

/* HOMEPAGE SECTION */

.index-hero-image {
    background: #000000 url(../links/thomas.jpg) left 40px no-repeat;
    background-size:contain;
    background-position:80% 20%;
}


.projects-containter {
  padding:156px 12%;
}

.created-projects-heading{
  font-weight:400;
  color:black;
  margin-bottom:0px;
  padding-bottom:14px;
  line-height:130%;
}

.project-name-title{
  font-weight:400;
  font-size:36px;
  margin-top:32px;
}


.hp-project-box img{
  width:100%;
}

.hp-project-box {
  width:100%;
}

.arrow-right {
  float:right;
  padding-top:20px;
}

.project-cl-1, .project-cl-3 {
  padding-right:40px;
  padding-top:50px;
  padding-bottom:50px;
}

.project-cl-2, .project-cl-4 {
  padding-left:40px;
  padding-top:50px;
  padding-bottom:50px;
}

.project-hover {
  color:black;
  text-decoration:none;
}

.project-hover:hover {
  color:black;
  text-decoration:none;
}

/* END HOMEPAGE SECTION */



/* BEGIN Footer section */

.footer{
  height:50vh;
  background-color:black;
  text-align: center;
}

.like-work{
  font-size:20px;
}

.footer .btn{
  background: #fff;
  color: #191A1E;
  margin-top:30px;
}

.footer-cta{
  height: 60px;
  background: white;
  color: #191A1E;
  padding: 30px 40px 30px 40px;
  line-height: 0px;
  border-radius: 30px;
}

.footer-cta:hover{
  opacity: 0.8;
}


/* END FOOTER SECTION */

/* 100 DAY UI CHALLENGE */


.ui-challenge-section{
  height:60vh;
  background-color:black;
  padding-top:2%;
}

.ui-block{
  padding:15px;
}

.ui-block img{
  width:100%;
}

.ui-subheader{
  color:white;
  font-weight:400;
  margin-bottom:10px;
  font-size:16px;
}

.ui-paragraph{
  margin-bottom:60px;
  color:white;
  font-size:20px;
}


/* END 100 DAY UI CHALLENGE SECTION */

/* BEGIN ABOUT ME PAGE*/

.about-me-section{
  background-color:black;
  height:75vh;
  padding-top:2%;
}

.about-me-subheader{
  font-size:28px;
  color:white;
  opacity:0.7;  
  font-weight:700;
}

.experience-header{
  padding-bottom:6%;
}

.experience-subheader{
  color:white;
  font-size:20px;
  font-weight:600;
}

.about-me-intro-txt{
  font-weight:500;
  font-size:20px;
}

/* END ABOUT ME PAGE */

/* BEGIN CONTACT ME PAGE */

.contact-link{
  color:white;
}

.contact-link:hover{
  text-decoration: none;
  color:white;
  border-bottom: 1px solid white;
  padding-bottom:2px;
}

.copyright{
  color:white;
  opacity:0.5;
}

.copyright-2{
  color:white;
  opacity:0.5;
  text-align: center;
}

/* END CONTACT ME PAGE */

/* MEDIA QUERY IPAD */

@media(max-width:1450px){
  .horizontal-padding-2{
    padding-right:10%;
    padding-left:10%;
  }
}


@media (max-width: 1170px) {

  h1{
    font-size:56px;
  }

  .project-name-title{
    font-size:28px;
  }

  .arrow-right {
    padding-top:14px;
  }
  .index-hero-image {
    background-position:95% 5%;
  }
}

@media (max-width: 990px) {

  .projects-containter {
    padding:100px 32px;
  }
  
  .created-projects-heading{
    padding-bottom:32px;
  }
  
  .project-name-title{
    font-size:26px;
  }

  .arrow-right{
    padding-top:12px;
  }
  
  .hp-project-box {
    width:100%;
  }

  .project-cl-1, .project-cl-3 {
    padding-right:40px;
    padding-top:50px;
    padding-bottom:50px;
  }
  
  .project-cl-2, .project-cl-4 {
    padding-left:40px;
    padding-top:50px;
    padding-bottom:50px;
  }

  p{
    font-size: 16px;;
  }

  h2 {
    font-size:38px;
    line-height: 160%;
    text-align: left;
  }

  .about-me-subheader{
    font-size:24px;
    margin-bottom:3px;
  }
  
  .ui-paragraph{
    margin-bottom:20px;
  }

  .ui-subheader{
    margin-top:80px;
  }

  .navbar {
    padding: 1rem 5%;
  }

  a.primary-button {
    font-size:16px
  }

  .scroll-down{
    left:5% !important;
  }

  .horizontal-padding {
    padding-right:5%;
    padding-left:5%;
  }
  
  .vertical-padding{
    padding-top:15%;
    padding-bottom:15%;
  }
  
  .horizontal-padding-2{
    padding-right:7%;
    padding-left:7%;
  }
  

  .padding-l{
    padding-left:0%;
  }
  
  .padding-r{
    padding-right:0%;
  }

  .padding-t{
    margin-top:10%;
  }

  .paperplane {
    width:100%;
  }

  h1{
    font-size:42px;
  }

  .obi-wan{
    font-size:26px;
  }

  .index-hero-image {
    background-position:right;
  }

}

@media (max-width:768px){
  
  h1{
    font-size:40px;
  }

  .project-cl-1, .project-cl-3 {
    padding: 32px 0px;
  }
  
  .project-cl-2, .project-cl-4 {
    padding: 32px 0px;
  }

  .arrow-right {
    padding-top:20px;
  }
  
  .project-name-title{
    font-size:36px;
  }
  
  .index-hero-image {
    background-position:center top;
  }

  .home-page-position {
    display:flex !important;
    align-content: flex-end;
    justify-content:center;
    text-align: center;
    padding-bottom:120px;
  }

}

@media (max-width:550px){


  h1{
    font-size:34px;
  }

  .obi-wan{
    font-size:24px;
  }

  .projects-containter {
    padding-left:16px;
    padding-right:16px;
  }

  .project-name-title{
    font-size:32px;
  }

  .arrow-right {
    padding-top:14px;
  }

  .index-hero-image{
    background-position:top;
  }

  h3{
    font-size:32px;
  }

  .ui-paragraph{
    margin-bottom:10px;
  }

  .about-me-section{
    height:65vh;
    padding-top:10%;
  }

  .about-me-subheader{
    font-size:18px;
    margin-bottom:3px;
  }

  .vertical-padding-2 {
    padding-top:10%;
    padding-bottom:10%;
  }
  
  .horizontal-padding-2{
    padding-right:1rem;
    padding-left:1rem;
  }

  .padding-bottom{
    padding-bottom:16%;
  }

  .experience-subheader{
  font-size:16px;
  margin-top:18px;
  margin-bottom:8px;
  }

  .paperplane{
    width:60%;
  }

  .ui-block{
    padding-left:0px;
    padding-right: 0px;
  }
}
